[data-toggle="modal"] {
	&:hover {
		cursor: pointer;
	}
}

.modal-preview {
	text-align: center;

	.close {
		width: 50px;
		position: absolute;
		z-index: 3;
		right: 15px;
		top: 15px;
		font-size: 3em;
		background-color: white;
	}

	.modal-dialog {
		width: auto;
		display: inline-block;
	}

	.modal-content {
		border-radius: 0;
		@include box-shadow(0 0 0 8px rgba(255,255,255,0.2));

		.modal-body {
			text-align: center;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}