
body {
	background-color: $body-bg-color;
	font-family: $font-family-regular;
	color: $white;
	font-size: 16px;
}

strong {
	font-family: $font-family-bold;
}

header, footer {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
}

header {
	.logo {
		margin: 0;
		text-transform: uppercase;
		color: $logo-text-color;
	}

	@media (max-width: $screen-xs-max) {
		text-align: center;
	}
}

footer {
	text-align: center;
}