// Mimic bootstrap .container but toggles between fixed and fluid
.content-container {
	@media(min-width: $screen-lg) {
		width: $screen-lg - 200px;
		margin: auto;
	}
	@media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
	}
	@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	@media(max-width: $screen-xs-max) {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.content-area {
	@include clearfix();
	margin-top: $grid-gutter-width * 2;
	margin-bottom: $grid-gutter-width * 2;

	&:first-child {
		margin-top: 0;
	}
}