.content-title {

	&.content-title-underlined {
		display: inline-block;
		border-bottom: 2px solid $white;
		padding-bottom: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;
	}
}

.text-accent {
	color: $red;
}

.text-quote {
	margin-top: 30px;
	strong:last-child {
		line-height: 1.2;
		font-size: 20px;
	}
}