// Body
$body-bg-color		: #0e1414 !default;
$logo-text-color	: #00bcd4 !default;
$white	 			: #d2d2d2 !default;
$red				: #ad142a !default;

// Width
$widget-aside-width	: 300px;
$mobile-device-width-max: 479px;

// Font
$font-family-regular: 'Work Sans Regular', 'Helvetica', Arial, sans-serif !default;
$font-family-bold	: 'Work Sans Semi-bold', 'Helvetica', Arial, sans-serif !default;

// Easing
$easing:					  cubic-bezier(0.550, 0.085, 0.000, 0.960) !default;

// Card Box-shadow
$box-shadow: 				  0 1px 3px rgba(0,0,0,0.1);