.widget {
	display: block;

	.widget-main, .widget-aside {
		display: block;
		min-height: 1px;
		position: relative;
	}
}

.widget-has-aside {
	display: block;
	float: left;
	@include clearfix();
	@media(min-width: $screen-lg) {
		@include calc('100% - #{$widget-aside-width}');
		float: left;
	}
	@media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
		float: left;
		width: 50%;
	}
	@media(min-width: $mobile-device-width-max + 1) and (max-width: $screen-sm-max) {
		float: left;
		width: 100%
	}
	@media(max-width: $mobile-device-width-max) {
		width: 100%;
	}
}

.widget-aside {

	&.widget-aside-left {
		float: left;
	}
	&.widget-aside-right {
		float: right;
	}

	@media(min-width: $screen-lg) {
		width: $widget-aside-width;
		padding-left: $grid-gutter-width;
	}
	@media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: 50%;
		padding-left: $grid-gutter-width;
	}
	@media(min-width: $mobile-device-width-max + 1) and (max-width: $screen-sm-max) {
		width: 100%;
	}
	@media(max-width: $mobile-device-width-max) {
		width: 100%;
	}
}

.widget-thumbnails {
	position: relative;
	.widget-thumbnail-item {
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto;
	}
}

.widget-thumbnail-flex {
	line-height: 0;

	-webkit-column-count: 2;
	-webkit-column-gap:   0px;
	-moz-column-count:    2;
	-moz-column-gap:      0px;
	column-count:         2;
	column-gap:           0px;

	.widget-thumbnail-item {
		width: 100%;
		height: auto;
		padding: 4px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			@include scale(1);
			@include transition(all .3s $easing);	
		}

		&:hover img {
			@include scale(1.1);
			@include transition(all .3s $easing);
		}
	}
}

.widget-thumbnail-grid {
	margin-right: -5px;
	margin-left: -5px;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
	display: -webkit-box;
	display: flex;


	.widget-thumbnail-item {
		position: relative;
		@media (max-width: $mobile-device-width-max) {
			width: 100%;
		}

		@media (min-width: $mobile-device-width-max + 1) and (max-width: $screen-xs-max) {
			width: 100%;
		}

		@media (min-width: $screen-sm-min) {
			width: calc(100% / 3);
		}

		a {
			padding: 5px;
			color: $white;
			text-decoration: none;
			display: block;
			height: auto;
			position: relative;
		}
		img {
			display: block;
			height: auto;
			position: relative;

			@media (max-width: $mobile-device-width-max) {
				width: 100%;
			}

			@media (min-width: $mobile-device-width-max + 1) and (max-width: $screen-xs-max) {
				width: 40%;
				float: left;
				margin-bottom: 15px;
			}

			@media (min-width: $screen-sm-min) {
				width: 100%;
			}
		}

		.widget-caption {
			@media (max-width: $mobile-device-width-max) {
				width: 100%;
				padding: 15px;
				text-align: center;
				margin-top: $grid-gutter-width/2;
			}

			@media (min-width: $mobile-device-width-max + 1) and (max-width: $screen-xs-max) {
				width: 60%;
				float: left;
				padding: 15px;
				text-align: left;
			}

			@media (min-width: $screen-sm-min) {
				width: 100%;
				padding: 5px;
				text-align: center;
				margin-top: $grid-gutter-width/2;
			}

			.widget-thumbnail-title {
				font-family: $font-family-bold;
				margin-bottom: 20px;
			}
		}
	}
}

@import 'widget-thumbnail-fancy';