.widget-thumbnail-grid {
	&.widget-thumbnail-fancy {
		.widget-thumbnail-item {
			z-index: 0;
			@include scale(1);
			@include transition(all .3s $easing);
			&:active {
				@include scale(0.95);
				@include transition(all .4s $easing);
			}

			&:hover {
				a:after {
					top: 5px;
					left: 5px;
					right: 5px;
					height: 77%;
					position: absolute;
					content: '';
					display: block;
					z-index: 1;
					@include opacity(0.2);
				}
			}

			a {
				&:after {
					@include opacity(0);
				}
			}

			&:before, a:after {
				position: absolute;
				content: '';
				display: block;
			}

			&:before {
				left: 0;
				right: 0;
				top: 0;
				bottom: 100%;
				@include transition(all .2s $easing);
				@include box-shadow(none);
				@include scale(1);
				@include translate3d(0,0,0);
			}

			&:hover {
				z-index: 1;

				&:before {
					bottom: 0;
					@include transition(all .4s $easing);
					@include scale(1.1);
					@include translate3d(0,0,0);
				}
			}

			&:first-of-type:hover {
				&:before {
					background-color: #bb243b;
					@include box-shadow(0px 0px 0px 12px transparentize(#bb243b,0.7));
				}
				a { 
					&:after {
						background-color: #bb243b;
					}
				}
			}

			&:nth-child(2):hover {
				&:before {
					background-color: #326932;
					@include box-shadow(0px 0px 0px 12px transparentize(#326932,0.7));
				}
				a { 
					&:after {
						background-color: #326932;
					}
				}
			}

			&:last-of-type:hover {
				&:before { 
					background-color: #ececec;
					@include box-shadow(0px 0px 0px 12px transparentize(#ececec,0.7));
				}
				a { 
					color: darken(gray, 25%);
					&:after {
						background-color: #ececec;
					}
				}
			}

			.widget-caption {
				color: inherit;
			}
		}
	}
}